CF_API_EMAIL = 'ENTER_YOUR_VALUE_HERE'
CF_DNS_API_TOKEN = 'ENTER_YOUR_VALUE_HERE'
TOP_LVL_DOMAIN = 'ENTER_YOUR_VALUE_HERE'
HEADSCALE_SUBDOMAIN = 'ENTER_YOUR_VALUE_HERE'
HEADSCALE_UI_SUBDOMAIN = 'ENTER_YOUR_VALUE_HERE'
