# TLD you want to use
TOP_LVL_DOMAIN = 'ENTER_YOUR_VALUE_HERE'

# Credentials 
PG_PASS = 'ENTER_YOUR_VALUE_HERE'
AUTHENTIK_SECRET_KEY = 'ENTER_YOUR_VALUE_HERE'

# SMTP Host Emails are sent to
AUTHENTIK_EMAIL__HOST = 'ENTER_YOUR_VALUE_HERE'
AUTHENTIK_EMAIL__PORT = 'ENTER_YOUR_VALUE_HERE'

# Optionally authenticate (don't add quotation marks to your password)
AUTHENTIK_EMAIL__USERNAME = 'ENTER_YOUR_VALUE_HERE'
AUTHENTIK_EMAIL__PASSWORD = 'ENTER_YOUR_VALUE_HERE'

# Use StartTLS
AUTHENTIK_EMAIL__USE_TLS = 'ENTER_YOUR_VALUE_HERE'

# Use SSL
AUTHENTIK_EMAIL__USE_SSL = 'ENTER_YOUR_VALUE_HERE'
AUTHENTIK_EMAIL__TIMEOUT = 'ENTER_YOUR_VALUE_HERE'

# Email address authentik will send from, should have a correct @domain
AUTHENTIK_EMAIL__FROM = 'ENTER_YOUR_VALUE_HERE'
